body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #404040;
  overflow: hidden;
  margin: 0;
  color: #F6F6F6 !important;
}

#chartdiv {
  width: 100%;
  max-height: 490px;
  height: 100vh;
}

.texto{
    padding-bottom: 88px;
    padding-top: 72px;
    padding-left: 30px;
}

.img_data{width: 240px}
.align-center{text-align: center;}
.texto{text-align: left;}

@media screen and (max-width: 600px) {
  .texto{text-align: center;}
}
@media screen and (max-width: 1199px) {
  .texto{text-align: center;}
}
@media screen and (max-width: 1399px) {
  .texto{ padding-left: 30px;}
}
